Utilizando o Python para criar um script de carregamento para a "Regiao"

In [1]:
import pandas as pd

Mostrando o conteudo do CSV (Apenas os dois primeiros)

In [2]:
df = pd.read_csv('dim_regioes.csv')
df.head(2)

   id_regiao      continente    pais estado          cidade
0  SAM-BR-SP  América do Sul  Brasil     SP          Suzano
1  SAM-BR-MG  América do Sul  Brasil     MG  Belo Horizonte

Visualizando os metadados do nosso arquivo, para checagem de tipo de dados etc

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_regiao   6 non-null      object
 1   continente  6 non-null      object
 2   pais        6 non-null      object
 3   estado      6 non-null      object
 4   cidade      6 non-null      object
dtypes: object(5)
memory usage: 372.0+ bytes

Primeiro modo, inserção manual, apenas cria um script de inserção.

In [10]:
with open('inserts_regiao.sql', 'w', encoding='utf-8') as f:
    for _, row in df.iterrows():
        id_regiao = row['id_regiao'].replace("'", "''")
        continente = row['continente'].replace("'", "''")
        pais = row['pais'].replace("'", "''")
        estado = row['estado'].replace("'", "''")
        cidade = row['cidade'].replace("'", "''")
        
        insert_sql = (
            "INSERT INTO regiao (id_regiao, continente, pais, estado, cidade) "
            "VALUES ('{}', '{}', '{}', '{}');\n".format(row['id_regiao'], row['continente'], row['pais'], row['estado'], row['cidade'])
        )
        f.write(insert_sql)

print("Arquivo 'insert_regiao.sql' gerado com sucesso!")

Arquivo 'insert_regiao.sql' gerado com sucesso!

Segundo modo, inserção direta no banco de dados, executa os comandos de insert diretamente.

In [4]:
# Primeiramente, vou utilizar uma biblioteca para conectar ao MySQL e inserir os dados do DataFrame.

import mysql.connector

# Função para inserir dados no MySQL, definindo o nome da tabela como 'regiao' e a conexão com o banco de dados.
def insert_data_to_mysql(df, table_name='regiao'):
    connection_params = {
        'host': 'localhost',
        'user': 'root',
        'password': 'pw4dummy',
        'database': 'prod_nsk'
    }
    data_to_insert = []  # declarar fora do try para retornar depois

    try:
        # Conectar ao banco de dados MySQL
        conn = mysql.connector.connect(**connection_params)
        # criar um cursor para executar comandos SQL
        cursor = conn.cursor()

        # SQL para inserir dados na tabela
        # Usando f-string para incluir o nome da tabela
        sql = f"INSERT INTO {table_name} (id_regiao, continente, pais, estado, cidade) VALUES (%s, %s, %s, %s, %s)"

        # Iterar sobre o DataFrame e preparar os dados para inserção
        # Usando executemany para inserir múltiplos registros de uma vez
        for _, row in df.iterrows():
            values = (
                row['id_regiao'],
                row['continente'],
                row['pais'],
                row['estado'],
                row['cidade']
            )
            data_to_insert.append(values)

        cursor.executemany(sql, data_to_insert)
        conn.commit()

        #mensagem de sucesso
        print(f"{cursor.rowcount} registros inseridos com sucesso na tabela {table_name}.")
    
    except mysql.connector.Error as err:
        # mensagem de erro
        print(f"Erro MySQL: {err}")
    
    # fechar o cursor e a conexão
    finally:
        if cursor:
            cursor.close()
        if conn:
            conn.close()
    
    return data_to_insert  # retornando aqui

# Executar e capturar os dados
data_to_insert = insert_data_to_mysql(df)

6 registros inseridos com sucesso na tabela regiao.